<div class="card m-3">
    <div class="card-body p-3">
        <h3 class="card-title">Job Overview</h3>
        {{#each jobs as | job |}}
        <div class="card mt-3">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-10">
                        <h6 class="card-title">{{ job.jobName }}</h6>
                        <p class="card-text">{{ job.jobDescription }}</p>
                        cronPattern: {{ job.cronPattern }} <br>
                        enabled: {{ job.enabled }} <br>
                    </div>
                    <div class="col-2">
                        <a class="btn btn-primary" href="/tracking-detector/job-runs/{{job.id}}">See Runs</a>
                        <button type="button" class="btn btn-primary" onclick="triggerJob( '{{job.jobName}}' )">Trigger</button>
                        <button type="button" class="btn btn-primary" onclick="toggleJob( '{{job.jobName}}' )">Toggle</button>
                    </div>
                </div>

                
            </div>
        </div>
        {{/each}}
        <script>
            function triggerJob(jobName) {
                axios.post("/tracking-detector/jobs/trigger/" + jobName)
            }
            function toggleJob(jobName) {
                axios.patch("/tracking-detector/jobs/toggle/" + jobName)
            }
        </script>
    </div>
</div>